/*
Name: Thomas Reus
Student number: 11150041
Assignment: linked views D3

background, text align and p align
*/

body {
  background-color: #ece7f2;
}
html * {
  text-align: center;
  font-family: arial;
}
p {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
};
