/*
Name: Thomas Reus
Student number: 11150041
Assignment: linked views D3

All style for everything in the project
! indicates a new "chapter"
order: body, html-styles, legend-style,
project.js styles, map-styles.
*/


/* ! body background and html font styles */
body {
  background-color: #ece7f2;
}
html * {
  text-align: center;
  font-family: arial;
  font-weight: bold;
  font-size: medium;
}


/*
! style for navigationbar
source: https://www.w3schools.com/howto/howto_js_topnav.asp
/*

/* Add a black background color to the top navigation */
.topnav {
  width: 100%;
  background-color: #ece7f2;
  overflow: hidden;
  position: fixed;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.topnav a {
  background-color: #333;
  float: left;
  color: #ece7f2;
  text-align: center;
  padding: 13.5px 16px;
  text-decoration: none;
  border-style: solid;
  border-color: #ece7f2;
  border-width: 2px;
  z-index: 9999;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: blue;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ece7f2;
  color: black;
}
.topnav div {
  z-index: 9999;
  background-color: #333;
  float: left;
  color: #ece7f2;
  text-align: center;
  padding: 2.75px;
  text-decoration: none;
  border-style: solid;
  border-color: #ece7f2;
  border-width: 2px;
  width: 300px;
}
#buttonBox {
  background-color: #333;
  float: right;
  text-align: center;
  padding: 9px;
  color: black;
  border-style: solid;
  border-color: #ece7f2;
  border-width: 2px;
  width: 350px;
}
.btn {
  margin-left: 5px;
}
#sliderDiv {
  padding: 3.4px;
  width: 100px;
  float: right;
  text-align: center;
  color: #ece7f2;
}


/* ! index.html */
.infoHome {
  position: absolute;
  margin-top: 100px;
  width: 75%;
  margin-left: 12.5%;
  font-size: 125%;
}
.infoHome p {
  text-align: left;
  font-weight: normal;
  font-size: 125%;
  margin-bottom: 20px;
}
.infoHome li {
  font-weight: normal;
  text-align: left;
  font-size: 150%;
}
.infoHome strong {
  font-size: 100%;
}
.infoHome h1 {
  font-size: 175%;
  margin-bottom: 50px;
}


/* ! descriptions.html */
.describe {
  position: relative;
  width: 45%;
  top: 100px;
  float: left;
}
#left {
  margin-left: 5%;
}
.describe p {
  margin-left: 50px;
  margin-right: 50px;
  font-weight: normal;
  text-align: center;
  border-style: solid;
  border-width: 4px;
  background-color: #ece7f2;
}
.titleBox {
  float: left;
  text-align: center;
  width: 100%;
  font-weight: bold;
}


/* ! visualisations.html (including help-tip)*/
.infoInfo {
  position: absolute;
  text-align: left;
  margin-top: 120px;
  margin-left: 5%;
  width: 50%;
}
.selectIntro {
  position: absolute;
  text-align: center;
  margin-top: 120px;
  right: 5%;
  width: 20%;
}

/*
css for information help-tip
source: https://tutorialzine.com/2014/07/css-inline-help-tips
*/
.help-tip {
    position: absolute;
    text-align: center;
    background-color: black;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    z-index: 8000;
}
#introBubble {
  position: inline;
  background-color: black;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}
#mapInfo {
  left: 20px;
  top: 230px;
}
#pieInfo {
  top: 230px;
  left: 530px;
}
#barInfo {
  top: 230px;
  right: 500px;
}
#legendInfo {
  top: 620px;
  left: 550px;
}
.help-tip:before {
    content:'?';
    font-weight: bold;
    color: #ece7f2;
}
.help-tip:hover p {
    display:block;
    top: 150%;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}
.help-tip p {    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}
.help-tip p:before { /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
}
.help-tip p:after { /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}
#mapInfo:hover p {
  display:block;
  top: 150%;
  left: -10%;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}
#mapInfo p:before {
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  left:10px;
  top:-12px;
}

/* CSS animation */
@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}
@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}


/* ! legend boxes */
#legendBlocks {
  stroke: black;
  stroke-width: 2px;
}


/* ! tooltip */
.toolTip {
  position: fixed;
  text-align: center;
  height: 28px;
  width: 225px;
  visibility: hidden;
  background: black;
  border-radius: 5px;
  line-height: 30px;
  color: white;
}


/* ! div layout project.js */
#mainDiv {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 200px;
  width: 100%;
}
#mapDiv {
  position: absolute;
  left: 3%;
  top: 10%;
  width: 30%;
  height: 85%;
}
#mapTitle {
  position: absolute;
  width: 30%;
  text-align: left;
}
#pieSvg {
  position: absolute;
  left: 34.5%;
  width: 30%;
  height: 60%;
}
#legendSvg {
  position: absolute;
  left: 34.5%;
  width: 30%;
  height: 40%;
  bottom: 0px;
}
#barSvg {
  position: absolute;
  left: 64.5%;
  width: 34%;
  height: 95%;
}
#errorDiv {
  position: absolute;
  left: 14%;
}


/*
! jvectormap Source:
https://stackoverflow.com/questions/39983909/change-the-jvectormap-legend-position
*/
.jvectormap-legend-cnt-v {
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
}
.jvectormap-legend-cnt-h {
   left: 0;
   right: auto;
}
