/*
Name: Thomas Reus
Student number: 11150041
Assignment: linked views D3

background, text align and p align
*/

body {
  background-color: #ece7f2;
}
html * {
  text-align: center;
  font-family: arial;
  font-weight: bold;
  font-size: medium;
}
p {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* makes text of class white, white*/
.white {
  color: white;
}

/*
Below css from:
https://stackoverflow.com/questions/39983909/change-the-jvectormap-legend-position
*/
.jvectormap-legend-cnt-v{
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
}
.jvectormap-legend-cnt-h{
   left: 0;
   right: auto;
}

/* https://www.bootply.com/AAcC6rXv4R */
.navbar {
  width: 100%;
  position: fixed;
  border-radius: 0;
  height: 50px;
  z-index: 9999;
}
